@charset "utf-8";
*{
	padding:0;
	margin:0;
}
body{
	margin:10px auto;
	font-size:14px !important;
	font-family:"宋体",serif;
	color:#333;
}
::placeholder{
	color:#333;
}
ul{
	list-style-type:none;
}
a{
	text-decoration:none;
	color:#2366a8;
}
a:hover{
	text-decoration:underline;
}
select optgroup{
	font-weight:bold;
}
select option{
	font-weight:normal;
}
input.input-text{
	width:auto;
}
span.keyword{
	color:red;
	font-weight:bold;
}
.center{
	text-align:center;
}
.red{
	color:red;
}
.green{
	color:green;
}
.blue{
	color:blue;
}
.none{
	display:none;
}
.header{
	margin:0 0 0 20px;
}
.header h3{
	margin-top:5px;
	margin-right:20px;
	float:left;
	color:#5A98DE;
    font-size:14px;
	font-weight:bold;
	padding:0;
}
.header ul{
	font-weight:bold;
	float:left;
	margin:3px 0 0 0;
}
.header ul li{
	float:left;
	margin:0 5px 0 0;
	line-height:20px;
}
.header ul li a{
	text-decoration:none;
	color:#666;
	display:block;
	padding:0 5px;
}
.header ul li a:hover{
	background:#F5F5F5;
	color:#09C;
}
.header ul li.current a{
	background:#666;
	display:block;
	color:#FFF;
}
.header p{
	clear:both;
	line-height:30px;
}
.search{
	font-size:14px;
	float:right;
	padding-right:30px;
}
.search .layui-form-select,.search input.input-text{
	width:200px;
}
div.list{
	margin:0 auto;
	clear:both;
	width:10000px;
}
.list table{
	border-collapse:collapse;
	margin:0 15px;
	width:auto;
}
.list table tr th{
	border:1px dotted #deeffb;
	line-height:200%;
	background:#FFF;
	font-size:14px;
	text-align:center;
	font-weight:bold;
}
.list table tr:hover{
	background:#deeffb;
}
.list table tr td{
	text-align:center;
	border:1px dotted #deeffb;
	line-height:180%;
	font-size:14px;
	font-family:"宋体",serif;
}
p.nothing{
	text-align:center;
	font-size:16px;
	font-weight:bold;
	padding-top:40px;
	clear:both;
}

form.page{
	clear:both;
}
form.page p{
	text-align:center;
	line-height:40px;
	font-size:16px;
	margin:0;
}
form.page .layui-form-select{
	width:100px;
}
form.page .layui-form-select dl dd{
	text-align:left;
}
.form{
	width:95%;
	margin:0 auto;
	clear:both;
}
.form table{
	width:auto;
}
.form table tr td{
	font-size:14px;
	padding:2px 0 10px 0;
	font-family:"宋体",serif;
}
.form table tr td:nth-child(1){
	width:70px;
	text-align:right;
	color:#333;
}
.form table tr td:nth-child(2){
	width:370px;
}
.form table tr td:nth-child(1).tip,
.form table tr td:nth-child(3),
.form table tr .tip{
	font-size:12px;
	color:#666;
}
.form table tr td.left{
	text-align:left;
}
.form table tr td input.input-text,
.form table tr td .layui-form-select{
	width:358px;
}
.form table tr td .xm-select{
	width:356px;
	position:relative;
	top:2px;
}
.form table tr td textarea{
	width:358px;
	height:100px;
	margin:0 0 -8px 0;
	font-size:13px;
}
.check-box,.radio-box{
	padding-left:20px;
	padding-right:10px;
}
.check-box label,.radio-box label{
	cursor:pointer;
}
.check-box label div,.radio-box label div{
	display:inline-block;
}
.detail{
	width:500px;
	margin:0 auto;
	table-layout:fixed;
}
.detail tr td{
	border-bottom:1px dashed #deeffb;
	line-height:35px;
	word-wrap:break-word;
	font-size:14px !important;
}
.detail tr td.n{
	width:85px;
	text-align:right;
}
.tip,.tools{
	width:95%;
	margin:0 auto;
}
.tip tr th,.tools h3{
	background:url(../images/bg_repx_hc.gif) repeat-x scroll 0 -40px;
	padding:5px;
	font-weight:bold;
	color:#5A98DE;
	line-height:30px;
	font-size:14px;
}
.tip tr th{
	text-align:left;
}
.tip tr td,.tools p,.tools label{
	line-height:25px;
	color:#666;
	font-size:12px;
}
.tip tr td{
	vertical-align:top;
}
.tip tr td.num{
	width:18px;
	padding-left:10px;
}
.tools p,.tools label{
	line-height:35px;
	padding-left:10px;
}
.tools h3{
	clear:both;
}
.tools form.search{
	float:none;
}
.tools label{
	display:inline-block;
	float:left;
	padding-right:5px;
}
.tools label input.input-text,
.tools .layui-form-select{
	width:150px;
}