@charset "utf-8";
body{
	background:#FFF;
}
.tip{
	margin:15px 29px;
	font-family:"宋体",serif;
}
.tip h3{
	color:#5A98DE;
	font-size:14px;
	margin-bottom:10px;
	padding:0;
	font-weight:bold;
}
.tip div{
	padding:53px 10px 40px 10px;
	text-align:center;
	border-top:4px solid #DEEFFA;
	border-bottom:4px solid #DEEEFA;
	background:#F2F9FD;
}
.tip div h4{
	margin:0 0 10px 0;
	font-weight:bold;
	font-size:16px;
	line-height:25px;
}
.tip div h4.success{
	color:#090;
}
.tip div h4.failed{
	color:#C00;
}
.tip div h4 p{
	margin:0 0 15px 0;
}
.tip div a{
	text-decoration:underline;
	color:#666;
}
.tip div p.location a{
	font-size:12px;
}
@media(max-width:767px){
	.tip div p.location a{
		font-size:14px;
	}
}