@charset "utf-8";
.list table tr th.name{
	width:150px;
}
.list table tr th.rows{
	width:70px;
}
.list table tr th.auto_increment{
	width:120px;
}
.list table tr th.size,.list table tr th.free{
	width:100px;
}
.list table tr.tj{
	background:#D3DCE3;
	font-weight:bold;
}