@charset "utf-8";
body.bg{
	background:#478E13 url(../images/loginbg.jpg) repeat-x top center;
}
.login{
	width:660px;
	height:146px;
	margin:288px auto 0 auto;
	text-align:right;
	color:#999;
	font-size:14px;
	font-weight:bold;
}
.login p img{
	border:none;
}
.login p label{
	border:1px solid #d9d9d9;
	line-height:40px;
	margin:3px 0;
	width:280px;
	display:inline-block;
}
.login p label input.text{
	height:35px;
	width:174px;
	margin-right:5px;
	border:none;
	font-size:14px;
}
.login p input.submit{
	height:45px;
	width:158px;
	border:none;
	background:url(../images/login.png) no-repeat;
	margin:3px 60px 0 0;
	text-indent:-9999px;
	cursor:pointer;
}

.form table{
	margin:0 auto;
}
.form table tr td:nth-child(1){
	width:98px;
}
.form table tr td input.input-text{
	width:100%;
}