@charset "utf-8";
.main p.copy{
	text-align:center;
	font-size:18px;
	margin-top:20px;
}
.main table{
	width:95%;
	margin:20px auto 0 auto;
}
.main table caption{
	font-size:18px;
	font-weight:bold;
	background:url(../images/tablebg.gif);
	line-height:30px;
}
.main table tr th{
	width:50%;
}
.main table tr td{
	text-align:center;
	line-height:30px;
}