@charset "utf-8";
.tools label input.text{
	width:130px;
}
.tools label select{
	width:150px;
}

.list table tr th.name{
	width:215px;
}
.list table tr th.level{
	width:90px;
}
.list table tr th.is_activation{
	width:110px;
}
.list table tr th.qqau{
	width:100px;
}
.list table tr th.group{
	width:130px;
}
.list table tr th.order_permit{
	width:150px;
}
.list table tr th.date{
	width:160px;
}
.list table tr th.control{
	width:80px;
}

.form table tr td:nth-child(1){
	width:84px;
}