@charset "utf-8";
.tools label input.text{
	width:130px;
}
.tools select{
	width:150px;
}
.multi_form .radio-box{
	padding-right:0;
	margin:5px 0 0 0;
}
.multi_form label{
	line-height:19px;
}
.multi_form select,.multi_form input.btn{
	position:relative;
	top:-3px;
}
.multi_form label div{
	margin:-3px 10px;
}

.list table tr th.all .check-box label .icheckbox-blue{
	margin:3px 0 0 0;
}
.list table tr td:nth-child(1) .check-box{
	padding-right:0;
	margin:0 0 0 6px;
}
.list table tr td:nth-child(1) .check-box label span{
	visibility:hidden;
}
.list table tr th.all{
	width:60px;
}
.list table tr th.oid,
.list table tr th.admin,
.list table tr th.name{
	width:85px;
}
.list table tr th.pro{
	width:130px;
}
.list table tr th.price,
.list table tr th.count,
.list table tr th.total,
.list table tr th.post{
	width:70px;
}
.list table tr th.ip{
	width:120px;
}
.list table tr th.tel{
	width:100px;
}
.list table tr th.email{
	width:150px;
}
.list table tr th.template,
.list table tr th.referrer,
.list table tr th.pay,
.list table tr th.date,
.list table tr th.pay_date,
.list table tr th.state{
	width:80px;
}
.list table tr th.control{
	width:110px;
}
.list table tr th.address{
	width:200px;
}
.list table tr th.logistics{
	width:140px;
}
.list table tr th.pay_scene{
	width:90px;
}
.list table tr th.pay_oid{
	width:210px;
}