@charset "utf-8";
.list table tr th.name{
	width:280px;
}
.list table tr th.sort{
	width:100px;
}
.list table tr th.date{
	width:160px;
}
.list table tr th.selected,.list table tr th.control{
	width:80px;
}
.list table tr td input.input-text{
	width:60px;
	text-align:center;
}