@charset "utf-8";
.list table tr th.zip{
	width:60px;
}
.list table tr th.zip .radio-box label .icheckbox-blue{
	margin:3px 0 0 0;
}
.list table tr th.name{
	width:400px;
}
.list table tr th.size,.list table tr th.control{
	width:100px;
}
.list table tr.title td{
	background:url(../images/tablebg.gif);
	font-weight:bold;
}
.list table tr td:nth-child(1) .check-box{
	padding-right:0;
	margin:0 0 0 6px;
}
.list table tr td:nth-child(1) .check-box label span{
	visibility:hidden;
}
.list table tr.footer{
	background:#FFF;
	font-weight:bold;
	border:none;
}
.list table tr.footer td{
	line-height:250%;
}
.list table tr.footer td .check-box label .icheckbox-blue{
	margin:4px 0 0 0;
}