@charset "utf-8";
.list table tr th.name{
	width:150px;
}
.list table tr th.controller,.list table tr th.action,.list table tr th.sort{
	width:100px;
}
.list table tr th.is_default{
	width:110px;
}
.list table tr td input.input-text{
	width:60px;
	text-align:center;
}