@charset "utf-8";
.list table tr th.name,.list table tr th.psort{
	width:250px;
}
.list table tr th.price{
	width:150px;
}
.list table tr th.view{
	width:110px;
}
.list table tr th.sort{
	width:100px;
}
.list table tr th.selected,.list table tr th.date,.list table tr th.control{
	width:80px;
}
.list table tr td input.input-text{
	width:60px;
	text-align:center;
}