@charset "utf-8";
.list table tr th.smtp{
	width:140px;
}
.list table tr th.port,.list table tr th.control{
	width:80px;
}
.list table tr th.email{
	width:180px;
}
.list table tr th.hour{
	width:120px;
}
.list table tr.red td{
	color:red;
}

.form table tr td:nth-child(1){
	width:140px;
}