@charset "utf-8";
.form table.column{
	display:none;
}
.form table.column:nth-child(1) tr td:nth-child(1){
	width:105px;
}
.form table.column:nth-child(3) tr td:nth-child(1),.form table.column:nth-child(4) tr td:nth-child(1){
	width:84px;
}
.form table.column:nth-child(2) tr td:nth-child(1){
	width:98px;
}
.form table.column:nth-child(5) tr td:nth-child(1){
	width:77px;
}
.form table.column:nth-child(5) tr td:nth-child(2){
	width:auto;
}
.form table.column:nth-child(6) tr td:nth-child(1){
	width:63px;
}
.form table.column:nth-child(6) tr td:nth-child(2){
	width:auto;
	word-break:break-all;
}
.form table.column:nth-child(8) tr td:nth-child(1){
	width:auto;
	text-align:left;
}