@charset "utf-8";
.list table tr th.name,.list table tr th.template{
	width:130px;
}
.list table tr th.is_captcha,.list table tr th.template_style_id,.list table tr th.is_show_send,.list table tr th.is_qq,.list table tr th.is_default,.list table tr th.order_state,.list table tr th.is_show_search{
	width:80px;
}
.list table tr th.date{
	width:160px;
}
.list table tr th.control{
	width:170px;
}

.form table tr.pid1 select,.form table tr.pid2 select{
	height:120px;
}