@charset "utf-8";
.list table tr th.id{
	width:80px;
}
.list table tr th.bg_color,.list table tr th.border_color,.list table tr th.button_color{
	width:200px;
}
.list table tr th.date{
	width:160px;
}
.list table tr th.control{
	width:80px;
}
.list table tr td span{
	display:inline-block;
	width:40px;
	height:18px;
	vertical-align:middle;
}