@charset "utf-8";
*{
	margin:0;
	padding:0;
}
select optgroup{
	font-style:normal;
}
.center{
	text-align:center;
}
.order dl{
	min-width:286px;
	margin:0 10px;
	font-size:14px;
	font-family:微软雅黑;
	color:#333;
}
.order dl dd{
	line-height:30px;
}
.order dl dd span.left,
.order dl dd span.right{
	display:block;
	width:100%;
}
.order dl dd.pro span.right label,.order dl .attr dd span.right label{
	border:1px #ccc solid;
	border-radius:5px;
	padding:5px 13px;
	display:inline-block;
	overflow:hidden;
	cursor:pointer;
}
.order dl dd span.right label{
	margin:0 10px 0 0;
}
.order dl dd span.right span.total{
	color:#666;
}
.order dl dd span.right span.total span.price{
	color:#BE0F22;
	font-size:18px;
}
.order dl dd.captcha{
	margin:5px 0 0 0;
}
.order dl dd.captcha img{
	border-radius:5px;
	box-shadow:0 1px 1px rgba(20,3,5,0.15);
	cursor:pointer;
}
.order dl dd input.text,.order dl dd select,.order dl dd.textarea textarea{
	background:#FFF;
	border:1px solid #ccc;
	border-radius:5px;
	color:#555;
	height:46px;
	text-indent:12px;
	width:100%;
	font-size:14px;
}
.order dl dd input.text2{
	background:#FFF;
	border:1px solid #ccc;
	border-radius:5px;
	color:#555;
	height:46px;
	text-indent:12px;
	width:25%;
	font-size:14px;
}
.order dl dd select{
	text-indent:6px;
}
.order dl dd.textarea textarea{
	height:60px;
	font-size:16px;
	padding:12px 0;
	resize:none;
}
.order dl dd.submit{
	text-align:center;
	margin:10px 0 25px 0;
}
.order dl dd.submit input{
	cursor:pointer;
	border:none;
	width:100%;
	color:#FFF;
	padding:15px 0;
	font-size:20px;
	box-shadow:0 1px 1px rgba(20,3,5,0.15);
	border-radius:18px;
}
.order dl dd.smsverify{
	clear:both;
}
.order dl dd.smsverify input.button{
	color:#FFF;
	cursor:pointer;
	border:none;
	padding:0 5px;
	height:40px;
	font-size:18px;
	box-shadow:0 1px 1px rgba(20,3,5,0.15);
	border-radius:18px;
}
.order dl dd.submit img{
	cursor:pointer;
}
.order dl dd.info{
	text-align:center;
	width:95%;
	margin:10px auto 0 auto;
	clear:both;
}
.order .new{
	line-height:24px;
	text-align:center;
	font-size:13px;
	width:95%;
	margin:0 auto;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
}
.order form.search{
	border-top:1px solid #BE0F22;
	margin:15px 0 0 0;
	padding:20px 0 0 0;
}
.order form.search dl dd.center{
	font-size:20px;
}